.error-message {
    color: red;
}

.admin-input {
    width: 80%;
    border-left: 10px #e88717 solid;
    background-color: #e2cdc0;
    margin: 5%;
    margin-left: 10%;
}

.input-alignment-1 {
    margin-left: 50px;
    border-radius: 5px;

    button::hover {
        color: black;
    }

}

.input-alignment-2 {
    margin-left: 69px;
    border-radius: 5px;
}

.input-alignment-3 {
    margin-left: 118px;
}

.input-alignment-4 {
    margin-left: 50px;
    border-radius: 5px;
}

.label-alignment {
    margin-left: 50px;
}

.input-alignment-hotel-1 {
    margin-left: 93px;
    border-radius: 5px;
}

.input-alignment-hotel-2 {
    margin-left: 50px;
    border-radius: 5px;
}

.input-alignment-hotel-3 {
    margin-left: 90px;
}

.input-alignment-hotel-4 {
    margin-left: 140px;
    border-radius: 5px;
}

.input-alignment-hotel-5 {
    margin-left: 74px;
    border-radius: 5px;
}

.input-alignment-hotel-6 {
    margin-left: 100px;
}